{% autoescape on %}
<table id="test" class="table">
            <thead>
                <tr>
                    <th>Add</th>
                    <th>Upgrade</th>
                    <th>Delete</th>
                    <th>Version</th>
                    <th>Remove</th>
                    <th>Modify</th>
                </tr>
            </thead>
            <tbody align="left">
                <tr>
                    <td>
                      {% for a in add %}
                      <a href="#">{{ a }}</a></br>
                      {% endfor %}
                     </td>
                    <td>
                      {% for u in upgrade %}
                      <a href="#">{{ u }}</a></br>
                      {% endfor %}
                    </td>
                    <td>
                      {% for d in delete %}
                      <a href="#">{{ d }}</a></br>
                      {% endfor %}
                    </td>
                    <td>
                      {% for v in version %}
                      <a href="#">{{ v }}</a></br>
                      {% endfor %}
                     </td>
                    <td>
                      {% for r in remove %}
                      <a href="#">{{ r }}</a></br>
                      {% endfor %}
                    </td>
                    <td>
                      {% for m in modify %}
                      <a href="#">{{ m }}</a></br>
                      {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
{% endautoescape %}
{% block scripts1 %}
    <script>
	$('#test tr th').each(function(i) {
		//select all tds in this column
		var tds = $(this).parents('table')
			.find('tr td:nth-child(' + (i + 1) + ')');
		if(tds.is(':empty')) {
			//hide header
			$(this).hide();
			//hide cells
			tds.hide();
		} 
	}); 
    </script>
{% endblock %}
